/* MADE BY JAIME, 2021, COPYRIGHT: ALL RIGHTS RESERVED */

:root {
    --max-width: 2250px;
    --min-width: 280px;
    --scrollbal-width: 16px;


    --background-color-primary: #111111;


    --nav-height: 55px;

    --nav-logo-padding-horizontal: 0px;
    --nav-logo-padding-vertical: 0px;

    --nav-link-textColor: white;

    --nav-link-inner-margin: 2em;
    --nav-link-padding-horizontal: 0px;
    --nav-link-padding-vertical: 0.5em;


    --white-space: 3.5rem;


    --primary-color: #111111;
    --secondary-color: #FFFFFF;

    --section-title-color: #73009A;
    
    --button-important-color-1: ;
    --button-important-color-2: #E16161;

    /* HERO SECTION */
    --hero-title-color: white;

    /* PROJECT SECTION */
    --project-separator-height: 0.3em;
    --projects-list-margin-between: 6em;
}

/* USAR LOS CSS NORMALIZED */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body {
    background: var(--background-color-primary);
    height: 500vh;
    max-width: var(--max-width);
    min-width: var(--min-width);
    margin: 0 auto;
}


/* OPCIONES GENERALES */

button {
    cursor: pointer;
}

ul, ol {
    list-style: none;
}

.section__title {
    font-size: 2rem;
    font-weight: bolder;
    color: var(--section-title-color);
}

/* BARRA NAVEGACION */

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    min-width: var(--min-width);
    width: 100vw;
    height: var(--nav-height);
    background: var(--background-color-primary);
    padding-left: calc(var(--white-space) - var(--nav-logo-padding-horizontal));
    padding-right: calc(var(--white-space) - var(--nav-link-padding-horizontal));
    z-index: 200;
}

.nav__logo {
    font-size: 1.2rem;
    color: rgb(32, 182, 219);
    font-weight: 900;
}

.nav__links {
    display: flex;
    list-style: none;
}

.nav__link {
    color: var(--nav-link-textColor);
}

/* CONTENIDO */

.content {
    display: flex;
    flex-direction: column;
    margin-top: var(--nav-height);
}

.areas {
    margin-top: 5em;
}

.hero__content, .projects__content, .areas__content {
    padding: 0 var(--white-space);
}

/* HERO SECTION */

.hero__content {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - var(--nav-height));
    align-items: center;
}

.hero__main {
    display: flex;
    flex-direction: column;
    margin-top: var(--nav-height);
    margin-bottom: calc(3*var(--nav-height));
}

.hero__title {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.02em;
    word-spacing: 0.01em;
    text-align: center;
    color: var(--hero-title-color);
}

.hero__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.hero__button {
    font-weight: bold;
    letter-spacing: 0.02em;
}

.hero__button--mywork {
    font-size: 1.6rem;
    border-radius: 1.5em;
    padding: 0.5em 1.8em;
    background: #FFCA4E;
    border: 0;
    color: black;
}

.hero__button--meetme {
    font-size: 1.3rem;
    color: #FFCA4E;
    padding: 0.5em 0.75em;
    margin-left: 1.75em;
    word-spacing: 0.1em;
}

.hero__html {
    width: 30rem;
}

.hero__illustration--2 {
    display: none;
    justify-self: center;
}

.hero__squares {
    height: 40rem;
}

/* FEATURED PROJECTS SECTION */

.projects__banner {
    display: flex;
    justify-content: center;
    background: white;
    padding: 2.25rem 0 2.25rem 0;
    width: 100%;
}

.projects__decoration--left {
    background: var(--background-color-primary);
    flex-grow: 1;
    border-radius: 0 0.75em 0.75em 0;
    margin-right: 2em;
}

.projects__decoration--right {
    background: var(--background-color-primary);
    flex-grow: 1;
    border-radius: 0.75em 0 0 0.75em;
    margin-left: 2em;
}

.projects__project::before {
    content: '';
    position: absolute;
    width: 100%;
    height: var(--project-separator-height);
    border-radius: 0.5em;
    background: #303030;
    top: calc((var(--projects-list-margin-between)/-2) + (var(--project-separator-height)/-2));
}

.projects__project {
    position: relative;
    margin-top: var(--projects-list-margin-between);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}

.project__info {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3em;
}

#projectNumber {
    font-size: 3rem;
    font-weight: 100;
    color: #FFCA4E;
    padding-bottom: 0.33em;
    letter-spacing: 0.05em;
}

#projectName {
    font-size: 3.5rem;
    text-align: center;
    color: #e6e6e6;
    width: 85%;
    letter-spacing: 0.025em;
    word-spacing: 0.075em;
}

#projectType {
    color: #a3a3a3;
    text-align: center;
    padding-top: 1em;
    font-size: 1.5rem;
}

#projectImage {
    background: #151515;
    width: 24rem;
    height: 13.5rem;
    color: white;
    font-weight: bold;
}

.projects__more {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: var(--projects-list-margin-between);
    margin-bottom: calc(var(--projects-list-margin-between)/1.75);
}

.projects__more::before {
    content: '';
    position: absolute;
    width: 100%;
    height: var(--project-separator-height);
    border-radius: 0.5em;
    background: #303030;
    top: calc((var(--projects-list-margin-between)/-2) + (var(--project-separator-height)/-2));
    left: 0;
}

.projects__more::after {
    content: '';
    position: absolute;
    width: 100%;
    height: var(--project-separator-height);
    border-radius: 0.5em;
    background: #303030;
    bottom: calc((var(--projects-list-margin-between)/-2) + (var(--project-separator-height)/-2));
    left: 0;
}

.projects__link {
    font-size: 1.75rem;
    font-weight: bold;
    border-radius: 1.5em;
    padding: 0.6em 1.9em;
    background: #FFCA4E;
    border: 0;
    color: black;
    word-spacing: 0.2em;
    letter-spacing: 0.04em;
}


/* AREAS SECTION */

.areas__banner {
    display: flex;
    background: white;
    padding: 2.25rem 0;
}

.areas__decoration--left {
    flex-grow: 1;
    background: var(--background-color-primary);
    border-radius: 0 0.75em 0.75em 0;
}

.areas__title {
    padding: 0 1.2em;
}

.areas__decoration--right {
    flex-grow: 1;
    background: var(--background-color-primary);
    border-radius: 0.75em 0 0 0.75em;
}

.areas__content {
    padding: 2em var(--white-space);
    background: white;
}

.areas__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.areas__area {
    width: 17.5rem;
    height: 21rem;
    padding: 2.25em 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFCA4E;
    border-radius: 2em;
    box-shadow: 0.5em 0.3em rgb(255, 188, 33);
}

.area__image {
    width: 50%;
    height: 6rem;
    background: white;
}

.area__name {
    font-size: 1.75rem;
    font-weight: bold;
    padding: 1em 0 0.75em 0;
    letter-spacing: 0.05em;
}

.area__description {
    text-align: center;
    letter-spacing: 0.04em;
    width: 75%;
    color: #303030;
    flex-grow: 1;
}

.areas__contact {
    background: white;
    text-align: center;
    height: 2rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 350px)  {
    html {
        font-size: 7.5px;
    }
}

@media screen and (min-width: 550px)  {
    html {
        font-size: 12.5px;
    }

    #projectImage {
        width: 32rem;
        height: 18rem;
    }
}

@media screen and (min-width: 700px) {
    html {
        font-size: 15px;
    }

    #projectImage {
        width: 36rem;
        height: 20.25rem;

    }
}

@media screen and (min-width: 850px) {
    :root {
        --nav-height: 70px;
    }

    html {
        font-size: 16px;
    }
}

/* DE OPCIONES MOVILES A PC PEQUEÑO */

@media screen and (min-width: 1250px) {
    :root {
        --white-space: 8rem;
        --nav-height: 75px;
        --project-separator-height: 0.2em;
        --projects-list-margin-between: 7.5em;
    }

    html {
        font-size: 16px;
    }

    .projects, .areas {
        margin-top: 5em;
    }

    .hero__content {
        justify-content: space-between;
    }

    .hero__main {
        margin-top: 0;
        margin-bottom: 0;
    }

    .hero__title {
        text-align: left;
    }

    .hero__buttons {
        justify-content: flex-start;
    }

    .hero__illustration--2 {
        display: block;
    }

    .projects__banner {
        justify-content: flex-start;
        width: calc(100% - var(--white-space));
        border-radius: 0 2em 2em 0;
        padding: 2.25rem 2.5rem 2.25rem 0;
    }

    .projects__decoration--left {
        background: #111111;
        width: var(--white-space);
        flex-grow: 0;
        border-radius: 0 0.75em 0.75em 0;
        margin-right: 2em;
    }
    
    .projects__decoration--right {
        background: #111111;
        flex-grow: 1;
        border-radius: 0.75em;
        margin-left: 2em;
    }

    .projects__project {
        flex-direction: row-reverse;
    }

    .project__info {
        align-items: flex-start;
        padding: 0 0 1em 5em;
    }

    #projectName, #projectType {
        text-align: left;
    }

    #projectImage {
        width: 40rem;
        height: 22.5rem;
    }
}


/* DE PC PEQUEÑO A PC NORMAL */

@media screen and (min-width: 1400px) {
    html {
        font-size: 17.5px;
    }


    /* PENSAR DONDE PONER LA CORRECION DE LA SCROLLBAR (En que media query (este creo que está good porque en tablets no sale) */
    .nav {
        padding-right: calc(var(--white-space) + var(--scrollbal-width) - var(--nav-link-padding-horizontal));
    }

    .hero__title {
        font-size: 3.5rem;
    }
}


/* DE PC PEQUEÑO A PC GRANDE */

@media screen and (min-width: 1750px) {
    html {
        font-size: 22.5px;
    }
}