/* MADE BY JAIME, 2021, COPYRIGHT: ALL RIGHTS RESERVED */

:root {
    --max-width: 2250px;
    --scrollbal-width: 15px;


    --nav-height: 55px;
    --nav-button-textColor: white;

    --nav-button-inner-margin: 2em;
    --nav-button-padding-horizontal: 0px;
    --nav-button-padding-vertical: 0.5em;


    --white-space: 3.5rem;

    --primary-color: #111111;
    --secondary-color: #FFFFFF;

    --section-title-color: #73009A;
    
    --button-important-color-1: ;
    --button-important-color-2: #E16161;

    /* HERO SECTION */
    --hero-title-color: white;

    /* PROJECT SECTION */
    --project-separator-height: 0.3em;
    --projects-list-margin-between: 6em;
}

/* USAR LOS CSS NORMALIZED */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #111111;
    height: 500vh;
    max-width: var(--max-width);
    margin: 0 auto;
}


/* OPCIONES GENERALES */

button {
    cursor: pointer;
}

ul, ol {
    list-style: none;
}

.section__title {
    font-size: 2rem;
    font-weight: bolder;
    color: var(--section-title-color);
}

/* BARRA NAVEGACION */

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    width: 100vw;
    height: var(--nav-height);
    background: #111111;
    padding: 0 var(--white-space);
    z-index: 200;
}

.nav__logo {
    font-size: 1.2rem;
    color: rgb(32, 182, 219);
    font-weight: 900;
}

.nav__buttons {
    display: flex;
    list-style: none;
}

.nav__button {
    color: var(--nav-button-textColor);
}

/* CONTENIDO */

.content {
    display: flex;
    flex-direction: column;
    margin-top: var(--nav-height);
}

.contact {
    margin-top: 5em;
}

.hero__content, .projects__content, .contact__content {
    padding: 0 var(--white-space);
}

/* HERO SECTION */

.hero__content {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - var(--nav-height));
    align-items: center;
}

.hero__main {
    display: flex;
    flex-direction: column;
    margin-top: var(--nav-height);
    margin-bottom: calc(3*var(--nav-height));
}

.hero__title {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    color: var(--hero-title-color);
}

.hero__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.hero__button {
    font-size: 1.5rem;
    font-weight: bold;
}

.hero__button--mywork {
    border-radius: 1.5em;
    padding: 0.5em 1.85em;
    background: #68bc6b;
    border: 0;
    color: white;
}

.hero__button--meetme {
    color: #FFCA4E;
    padding: 0.25em 0.5em;
    margin-left: 1.75em;
}

.hero__html {
    width: 30rem;
}

.hero__illustration--2 {
    display: none;
    justify-self: center;
}

.hero__squares {
    height: 40rem;
}

/* FEATURED PROJECTS SECTION */

.projects__banner {
    display: flex;
    justify-content: center;
    background: white;
    padding: 2.25rem 0 2.25rem 0;
    width: 100%;
}

.projects__decoration--left {
    background: #111111;
    flex-grow: 1;
    border-radius: 0 0.75em 0.75em 0;
    margin-right: 2em;
}

.projects__decoration--right {
    background: #111111;
    flex-grow: 1;
    border-radius: 0.75em 0 0 0.75em;
    margin-left: 2em;
}

.projects__project::before {
    content: '';
    position: absolute;
    width: 100%;
    height: var(--project-separator-height);
    border-radius: 0.5em;
    background: #303030;
    top: calc((var(--projects-list-margin-between)/-2) + (var(--project-separator-height)/-2));
}

.projects__project {
    position: relative;
    margin-top: var(--projects-list-margin-between);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}

.project__info {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3em;
}

#projectNumber {
    font-size: 3rem;
    font-weight: 100;
    color: #FFCA4E;
    padding-bottom: 0.33em;
}

#projectName {
    font-size: 3.5rem;
    text-align: center;
    color: rgb(230, 230, 230);
    width: 85%;
}

#projectType {
    color: rgb(163, 163, 163);
    text-align: center;
    padding-top: 1em;
    font-size: 1.5rem;
}

#projectImage {
    background: #151515;
    width: 24rem;
    height: 13.5rem;
    color: white;
    font-weight: bold;
}

.projects__more {
    position: relative;
    display: flex;
    justify-content: center;
    margin: var(--projects-list-margin-between) auto 0 auto;
}

.projects__more::before {
    content: '';
    position: absolute;
    width: 100%;
    height: var(--project-separator-height);
    border-radius: 0.5em;
    background: #303030;
    top: calc((var(--projects-list-margin-between)/-2) + (var(--project-separator-height)/-2));
}

.projects__more::after {
    content: '';
    position: absolute;
    width: 100%;
    height: var(--project-separator-height);
    border-radius: 0.5em;
    background: #303030;
    bottom: calc((var(--projects-list-margin-between)/-2) + (var(--project-separator-height)/-2));
}

.projects__button--more {
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1.5em;
    padding: 0.6em 1.9em;
    background: #FFCA4E;
    border: 0;
    color: black;
}


/* MEDIA QUERIES */

@media screen and (max-width: 350px)  {
    html {
        font-size: 7.5px;
    }
}

@media screen and (min-width: 550px)  {
    html {
        font-size: 12.5px;
    }

    #projectImage {
        width: 32rem;
        height: 18rem;
    }
}

@media screen and (min-width: 700px) {
    html {
        font-size: 15px;
    }

    #projectImage {
        width: 36rem;
        height: 20.25rem;

    }
}

@media screen and (min-width: 850px) {
    :root {
        --nav-height: 70px;
    }

    html {
        font-size: 16px;
    }
}

/* DE OPCIONES MOVILES A PC */

@media screen and (min-width: 1250px) {
    :root {
        --white-space: 8rem;
        --nav-height: 75px;
        --project-separator-height: 0.2em;
        --projects-list-margin-between: 7.5em;
    }

    html {
        font-size: 16px;
    }


    .nav {
        padding-right: calc(var(--white-space) + var(--scrollbal-width) - var(--nav-button-padding-horizontal));
    }

    .projects, .contact {
        margin-top: 5em;
    }

    .hero__content {
        justify-content: space-between;
    }

    .hero__main {
        margin-top: 0;
        margin-bottom: 0;
    }

    .hero__title {
        text-align: left;
    }

    .hero__buttons {
        justify-content: flex-start;
    }

    .hero__illustration--2 {
        display: block;
    }

    .projects__banner {
        justify-content: flex-start;
        width: calc(100% - var(--white-space));
        border-radius: 0 2em 2em 0;
        padding: 2.25rem 2.5rem 2.25rem 0;
    }

    .projects__decoration--left {
        background: #111111;
        width: var(--white-space);
        flex-grow: 0;
        border-radius: 0 0.75em 0.75em 0;
        margin-right: 2em;
    }
    
    .projects__decoration--right {
        background: #111111;
        flex-grow: 1;
        border-radius: 0.75em;
        margin-left: 2em;
    }

    .projects__project {
        flex-direction: row-reverse;
    }

    .project__info {
        align-items: flex-start;
        padding: 0 0 1em 5em;
    }

    #projectName, #projectType {
        text-align: left;
    }

    #projectImage {
        width: 40rem;
        height: 22.5rem;
    }
}


@media screen and (min-width: 1400px) {
    html {
        font-size: 17.5px;
    }

    .hero__title {
        font-size: 3.5rem;
    }
}


@media screen and (min-width: 1750px) {
    html {
        font-size: 22.5px;
    }
}
