/* MADE BY JAIME, 2021, COPYRIGHT: ALL RIGHTS RESERVED */

:root {
    --max-width: 2250px;
    --min-width: 280px;
    --scrollbal-width: 16px;


    --background-color-primary: #111111;


    --nav-height: 55px;

    --nav-logo-padding-horizontal: 0px;
    --nav-logo-padding-vertical: 0px;

    --nav-link-textColor: white;

    --nav-link-inner-margin: 1.1em;
    --nav-link-padding-horizontal: 0.5em;
    --nav-link-padding-vertical: 0.35em;
    --nav-span-padding-horizontal: 0.3em;


    --white-space: 3.5rem;


    --primary-color: #111111;
    --secondary-color: #FFFFFF;

    --section-title-color: #73009A;
    
    --button-important-color-1: ;
    --button-important-color-2: #E16161;

    /* HERO SECTION */
    --hero-title-color: white;

    /* PROJECT SECTION */
    --project-separator-height: 0.3em;
    --projects-list-margin-between: 6em;
}

/* USAR LOS CSS NORMALIZED */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body {
    background: var(--background-color-primary);
    max-width: var(--max-width);
    min-width: var(--min-width);
    margin: 0 auto;
}


/* OPCIONES GENERALES */

button {
    cursor: pointer;
}

ul, ol {
    list-style: none;
}

.section__title {
    font-size: 2rem;
    font-weight: bolder;
    color: var(--section-title-color);
    word-spacing: 0.25em;
}

/* BARRA NAVEGACION */

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    min-width: var(--min-width);
    width: 100vw;
    height: var(--nav-height);
    background: var(--background-color-primary);
    padding-left: calc(var(--white-space) - var(--nav-logo-padding-horizontal));
    padding-right: calc(var(--white-space) - var(--nav-link-inner-margin) - var(--nav-link-padding-horizontal) - var(--nav-span-padding-horizontal));
    z-index: 200;
}

.nav__logo {
    font-size: 1.2rem;
    color: #20b6db;
    font-weight: 900;
}

.nav__links {
    display: flex;
    list-style: none;
}

.nav__link {
    color: var(--nav-link-textColor);
    padding: var(--nav-link-padding-vertical) var(--nav-link-padding-horizontal);
    margin: 0 var(--nav-link-inner-margin);
}

.nav__link > span {
    position: relative;
    font-weight: 600;
    letter-spacing: 0.03em;
    padding: 0 var(--nav-span-padding-horizontal);
}

.nav__link:hover > span {
    color: rgb(255, 162, 201);
    transition: color 0.4s ease-out;
}

.nav__link > span::after {
    content: '';
    position: absolute;
    width: 0px;
    background: rgb(255, 162, 201);
    height: 0.15em;
    bottom: -0.3em;
    left: 0;
    transition: width 0.3s ease-out;
    transform: rotate(-1.5deg);
    border-radius: 0.1em;
}

.nav__link:hover > span::after {
    width: 100%;
}

.nav__link:hover > .nav__link--active {
    color: #dc82e7 !important;
}

.nav__link--active::after {
    background: #dc82e7 !important;
}

/* CONTENIDO */

.content {
    display: flex;
    flex-direction: column;
    margin-top: var(--nav-height);
}

.areas {
    margin-top: 5em;
}

.hero__content, .projects__content, .areas__content {
    padding: 0 var(--white-space);
}

/* HERO SECTION */

.hero__content {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - var(--nav-height));
    align-items: center;
}

.hero__main {
    display: flex;
    flex-direction: column;
    margin-top: var(--nav-height);
    margin-bottom: calc(3*var(--nav-height));
}

.hero__title {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.01em;
    word-spacing: 0.02em;
    text-align: center;
    color: var(--hero-title-color);
}

.hero__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.hero__button {
    font-weight: bold;
    letter-spacing: 0.02em;
}

.hero__button--mywork {
    position: relative;
    font-size: 1.6rem;
    border-radius: 1.5em;
    padding: 0.5em 1.8em;
    background: transparent;
    border: 0;
    color: #FFCA4E;
    transition: color 0.2s ease-in;
}

.hero__button--mywork:hover {
    color: black;
}

.hero__button--mywork::before {
    position: absolute;
    content: '';
    background: #FFCA4E;
    border-radius: 1.5em;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero__button--mywork::after {
    position: absolute;
    content: '';
    background: #111111;
    border-radius: 0.9em;
    z-index: -2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.91, 0.78);
    transition: opacity 0.2s ease-in;
    opacity: 1;
}

.hero__button--mywork:hover::after {
    opacity: 0;
}

.hero__button--meetme {
    position: relative;
    font-size: 1.3rem;
    color: #FFCA4E;
    padding: 0.5em 0.75em;
    margin-left: 1.75em;
    word-spacing: 0.1em;
}

.hero__button--meetme::after {
    content: '';
    border-radius: 0.1em;
    position: absolute;
    background: #FFCA4E;
    height: 0.11em;
    width: 100%;
    left: 0;
    bottom: 0.25em;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

.hero__button--meetme:hover::after {
    transform: scaleX(0.88);
}

.hero__html {
    width: 30rem;
}

.hero__illustration--2 {
    display: none;
    justify-self: center;
}

.hero__squares {
    height: 39rem;
}

/* FEATURED PROJECTS SECTION */

.projects__banner {
    display: flex;
    justify-content: center;
    background: white;
    padding: 2.25rem 0 2.25rem 0;
    width: 100%;
}

.projects__decoration--left {
    background: var(--background-color-primary);
    flex-grow: 1;
    border-radius: 0 0.75em 0.75em 0;
    margin-right: 2em;
}

.projects__decoration--right {
    background: var(--background-color-primary);
    flex-grow: 1;
    border-radius: 0.75em 0 0 0.75em;
    margin-left: 2em;
}

.projects__project::before {
    content: '';
    position: absolute;
    width: 100%;
    height: var(--project-separator-height);
    border-radius: 0.5em;
    background: #303030;
    top: calc((var(--projects-list-margin-between)/-2) + (var(--project-separator-height)/-2));
}

.projects__project {
    position: relative;
    margin-top: var(--projects-list-margin-between);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}

.project__info {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3em;
}

#projectNumber {
    font-size: 3rem;
    font-weight: 100;
    color: #FFCA4E;
    padding-bottom: 0.33em;
    letter-spacing: 0.05em;
}

#projectName {
    font-size: 3.5rem;
    text-align: center;
    color: #e6e6e6;
    width: 85%;
    letter-spacing: 0.025em;
    word-spacing: 0.075em;
}

#projectType {
    color: #a3a3a3;
    text-align: center;
    padding-top: 1em;
    font-size: 1.5rem;
}

#projectImage {
    background: #151515;
    width: 24rem;
    height: 13.5rem;
    color: white;
    font-weight: bold;
}

.projects__more {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: var(--projects-list-margin-between);
    margin-bottom: calc(var(--projects-list-margin-between)/1.75);
}

.projects__more::before {
    content: '';
    position: absolute;
    width: 100%;
    height: var(--project-separator-height);
    border-radius: 0.5em;
    background: #303030;
    top: calc((var(--projects-list-margin-between)/-2) + (var(--project-separator-height)/-2));
    left: 0;
}

.projects__more::after {
    content: '';
    position: absolute;
    width: 100%;
    height: var(--project-separator-height);
    border-radius: 0.5em;
    background: #303030;
    bottom: calc((var(--projects-list-margin-between)/-2) + (var(--project-separator-height)/-2));
    left: 0;
}

.projects__link {
    position: relative;
    font-size: 1.75rem;
    font-weight: bold;
    border-radius: 1.5em;
    padding: 0.6em 1.9em;
    background: transparent;
    border: 0;
    color: #FFCA4E;
    word-spacing: 0.2em;
    letter-spacing: 0.04em;
    transition: color 0.2s ease-in;
}

.projects__link:hover {
    color: black;
}

.projects__link::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #FFCA4E;
    top: 0;
    left: 0;
    border-radius: 1.5em;
    z-index: -2;
}

.projects__link::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #111111;
    top: 0;
    left: 0;
    border-radius: 1.5em;
    z-index: -1;
    transform: scale(0.93, 0.78);
    transition: opacity 0.2s ease-in;
    opacity: 1;
}

.projects__link:hover::after {
    opacity: 0;
}


/* AREAS SECTION */

.areas__banner {
    display: flex;
    background: white;
    padding: 2.25rem 0;
}

.areas__decoration--left {
    flex-grow: 1;
    background: var(--background-color-primary);
    border-radius: 0 0.75em 0.75em 0;
}

.areas__title {
    padding: 0 1.2em;
}

.areas__decoration--right {
    flex-grow: 1;
    background: var(--background-color-primary);
    border-radius: 0.75em 0 0 0.75em;
}

.areas__content {
    padding: 0 var(--white-space);
    background: white;
}

.areas__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2em 0;
}

.areas__area {
    width: 17.5rem;
    height: 21rem;
    padding: 2.25em 1em;
    margin: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFCA4E;
    border-radius: 2em;
    box-shadow: 0.5em -0.3em rgb(255, 188, 33);
    transition: box-shadow 0.09s ease-in;
}

.areas__area:hover {
    box-shadow: 0.5em -0.3em rgb(219, 163, 32);
}

.area__image {
    width: 50%;
    height: 6rem;
    background: white;
}

.area__name {
    font-size: 1.75rem;
    font-weight: bold;
    padding: 1em 0 0.75em 0;
    letter-spacing: 0.05em;
}

.area__description {
    text-align: center;
    letter-spacing: 0.04em;
    width: 75%;
    color: #303030;
    flex-grow: 1;
}

.areas__banner--bottom {
    display: flex;
    justify-content: center;
    padding: 0 var(--white-space);
}

.areas__decoration--bottom {
    flex-grow: 1;
    border-radius: 1em;
    height: 2.25rem;
    background: black;
}


/* GET IN TOUCH */

.contact__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 var(--white-space);
    background: white;
    border-radius: 0 0 5em 5em;
}

.contact__main {
    padding: 2.5em 0;
}

.contact__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.contact__link--contact {
    background: #FFCA4E;
    color: #111111;
    padding: 0.55em 4em;
    border-radius: 1.1em;
    margin-right: 1.2em;
    font-weight: bold;
    box-shadow: 0.23em -0.18em rgb(255, 188, 33);
    transition: box-shadow 0.09s ease-in;
}

.contact__link--contact:hover {
    box-shadow: 0.23em -0.18em rgb(219, 163, 32); 
}

.contact__link--email {
    font-weight: bold;
    background: #FFCA4E;
    font-size: 1.5rem;
    padding: 0.55em 1.2em;
    color: #111111;
    border: 0;
    border-radius: 1.1em;
    box-shadow: 0.23em -0.18em rgb(255, 188, 33);
    transition: box-shadow 0.09s ease-in;
}

.contact__link--email:hover {
    box-shadow: 0.23em -0.18em rgb(219, 163, 32); 
}



/* FOOTER */

.footer__content {
    padding: 5em var(--white-space);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer__main {
    padding-top: 2em;
}

.footer__copyright--claim {
    position: relative;
    font-size: 1.6rem;
    color: #FFCA4E;
    text-align: center;
    line-height: 1.5em; 
}



.footer__copyright--icon {
    width: min-content;
    padding-top: 0.3em;
    height: 1.8rem;
    fill: #FFCA4E;
}

.footer__html {
    width: 30rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 350px)  {
    html {
        font-size: 7.5px;
    }
}

@media screen and (min-width: 550px)  {
    html {
        font-size: 12.5px;
    }

    #projectImage {
        width: 32rem;
        height: 18rem;
    }
}

@media screen and (min-width: 700px) {
    html {
        font-size: 15px;
    }

    #projectImage {
        width: 36rem;
        height: 20.25rem;

    }
}

@media screen and (min-width: 850px) {
    :root {
        --nav-height: 70px;
    }

    html {
        font-size: 16px;
    }
}

/* DE OPCIONES MOVILES A PC PEQUEÑO */

@media screen and (min-width: 1250px) {
    :root {
        --white-space: 8rem;
        --nav-height: 75px;
        --project-separator-height: 0.2em;
        --projects-list-margin-between: 7.5em;
    }

    html {
        font-size: 16px;
    }

    .projects, .areas {
        margin-top: 5em;
    }

    .hero__content {
        justify-content: space-between;
    }

    .hero__main {
        margin-top: 0;
        margin-bottom: 0;
    }

    .hero__title {
        text-align: left;
    }

    .hero__buttons {
        justify-content: flex-start;
    }

    .hero__illustration--2 {
        display: block;
    }

    .projects__banner {
        justify-content: flex-start;
        width: calc(100% - var(--white-space));
        border-radius: 0 2em 2em 0;
        padding: 2.25rem 2.5rem 2.25rem 0;
    }

    .projects__decoration--left {
        background: #111111;
        width: var(--white-space);
        flex-grow: 0;
        border-radius: 0 0.75em 0.75em 0;
        margin-right: 2em;
    }
    
    .projects__decoration--right {
        background: #111111;
        flex-grow: 1;
        border-radius: 0.75em;
        margin-left: 2em;
    }

    .projects__project {
        flex-direction: row-reverse;
    }

    .project__info {
        align-items: flex-start;
        padding: 0 0 1em 5em;
    }

    #projectName, #projectType {
        text-align: left;
    }

    #projectImage {
        width: 40rem;
        height: 22.5rem;
    }

    .footer__content {
        flex-direction: row;;
    }
    
    .footer__main {
        padding-top: 0;
    }
}


/* DE PC PEQUEÑO A PC NORMAL */

@media screen and (min-width: 1450px) {
    :root {
        --nav-height: 80px;
    }

    html {
        font-size: 17.5px;
    }


    /* PENSAR DONDE PONER LA CORRECION DE LA SCROLLBAR (En que media query (este creo que está good porque en tablets no sale) */
    .nav {
        padding-right: calc(var(--white-space) + var(--scrollbal-width) - var(--nav-link-padding-horizontal) - var(--nav-link-inner-margin) - var(--nav-span-padding-horizontal));
    }

    .hero__title {
        font-size: 3.6rem;
    }
}


/* DE PC PEQUEÑO A PC GRANDE */

@media screen and (min-width: 1800px) {
    html {
        font-size: 22.5px;
    }
}